numpy
opencv-python
pyopengl
pyrender
scikit-image
scipy
tensorboard
smplx
spacepy
torch
torchgeometry
torchvision
tqdm
trimesh
git+https://github.com/mattloper/chumpy.git
git+https://github.com/shubham-goel/NMR.git
